@charset "UTF-8";
div.dibs-box{
	display:inline-block;
	
}
div#wish-box{
	display: inline-block;
	box-shadow: 1px 1px 5px rgb(0 0 0 / 20%);
	margin-left:19px;
	margin-bottom:15px;
}
div#wish-pro-img{
	border-right:1px solid rgb(229,229,229);
}
div#wish-box>a{
	display: flex;
	text-decoration: none;
	position: relative;
}
div#wish-pro-content{
	background-color:white;
	width:270px;
	height:130px;
}
div#wish-pro-content>div{
	padding-left:15px;
}
div#pro-title{
	margin: 15px 0 5px 0; 
	display: flex;
	font-size:13px;
	text-overflow:ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
div#pro-price{
	font-size:16px;
	display: flex;
	color:black;
	font-weight:bold;
}
div#pro-enrollDate{
	height:30px;
	display: flex;
	align-items: center;
	font-size:11px;
}
div#pro-add{
	height:40px;
	display:flex;
	align-items: center;
	font-size:11px;
	border-top:1px solid rgb(229,229,229);
}
div#pro-add>img{
	width:13px;
	margin-right:10px;
}
input[type="checkbox"]+label {
	position:absolute;
	top:12px;
	right:12px;
    display: block;
    width: 28px;
    height: 28px;
    background: url('/resources/img/checkbox-default.png') no-repeat 0 0px / contain;
}

input[type='checkbox']:checked+label {
    background: url('/resources/img/checkbox-on.png') no-repeat 0 1px / contain;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]#checkAll+label{
	top:209px;
	right:28px;
}

button#deleteBtn{
	position:absolute;
	top:209px;
	right:56px;
	background-color:#3eaa94;
	border-color: #3aa18c;
	color: white;
	border-radius: 4px;
	font-size:12px;
	height:20px;
	margin:3px 0;
}

div#wish-box:nth-child(2n){
	margin:0;
}
