@charset "UTF-8";

.menu1{
	font-size:18px;
	margin-bottom:10px;
	font-weight:bold;
}
.menu2{
	font-size:18px;
	margin-bottom:10px;
	font-weight:bold;
}
.menu3{
	font-size:18px;
	margin-bottom:10px;
	font-weight:bold;
}
.menu4{
	font-size:18px;
	margin-bottom:10px;
	font-weight:bold;
}
.menu5{
	font-size:18px;
	margin-bottom:10px;
	font-weight:bold;
}
.menu6{
	font-size:18px;
	margin-bottom:10px;
	font-weight:bold;
}
.menu7{
	font-size:18px;
	margin-bottom:10px;
	font-weight:bold;
}
.menu8{
	font-size:18px;
	margin-bottom:10px;
	font-weight:bold;
}
.sub1>li>a{
	color:black;
	font-size:14px;
	font-weight:normal;
}
.sub2>li>a{
	color:black;
	font-size:14px;
	font-weight:normal;
}
.sub3>li>a{
	color:black;
	font-size:14px;font-weight:normal;
}
.sub4>li>a{
	color:black;
	font-size:14px;font-weight:normal;
}
.sub5>li>a{
	color:black;
	font-size:14px;font-weight:normal;
}
.sub6>li>a{
	color:black;
	font-size:14px;font-weight:normal;
}
.sub7>li>a{
	color:black;
	font-size:14px;font-weight:normal;
}
.sub8>li>a{
	color:black;
	font-size:14px;font-weight:normal;
}

.menu1>.sub1{
  display:none;
  height:220px;
  list-style:none;
  overflow:hidden;
  padding-left:0px;
}
.menu2>.sub2{
  display:none;
  height:220px;
  list-style:none;
  overflow:hidden;
  padding-left:0px;
}
.menu3>.sub3{
  display:none;
  height:180px;
  list-style:none;
  overflow:hidden;
  padding-left:0px;
}
.menu4>.sub4{
  display:none;
  height:180px;
  list-style:none;
  overflow:hidden;
  padding-left:0px;
}
.menu5>.sub5{
  display:none;
  height:180px;
  list-style:none;
  overflow:hidden;
  padding-left:0px;
}
.menu6>.sub6{
  display:none;
  height:110px;
  list-style:none;
  overflow:hidden;
  padding-left:0px;
}
.menu7>.sub7{
  display:none;
  height:70px;
  list-style:none;
  overflow:hidden;
  padding-left:0px;
}
.menu8>.sub8{
  display:none;
  height:180px;
  list-style:none;
  overflow:hidden;
  padding-left:0px;
}