<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
      PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   <mapper namespace="alert">
	   <resultMap type="notify" id="notify">
	   		<result property="n_id" column="n_id"/>
	   		<result property="n_target" column="n_target"/>
	   		<result property="n_type" column="n_type"/>
	   		<result property="n_time" column="n_time"/>
	   		<result property="n_content" column="n_content"/>
	   		<result property="n_checked" column="n_checked"/>
	   		<result property="n_url" column="n_url"/>
	   		<result property="n_editor" column="n_editor"/>
	   		<result property="n_editdate" column="n_editdate"/>
	   </resultMap>
	   
	   
      	<!-- 새로운 알람 수 카운트 -->
   		<select id="selectNewNotifyCnt" resultType="int">
   		<![CDATA[
   			SELECT COUNT(n_id)
			FROM notify
			WHERE n_target like #{userid} AND n_checked like '0'
   		]]>
   		</select>
   		
   		<!-- 새로운 채팅 수 카운트 -->
   		<select id="selectNewChatCnt" resultType="int">
   		<![CDATA[
   			SELECT COUNT(*)
			FROM chatview
			where (userid=#{userid} or otherid=#{userid}) and id!=#{userid} and  unread > 0
			
   		]]>
   		</select>
   		
      	<!-- 읽은 알람 수 카운트 -->
   		<select id="selectOldNotifyCnt" resultType="int">
   		<![CDATA[
   			SELECT COUNT(n_id)
			FROM notify
			WHERE n_target like #{userid} AND n_checked like '1'
   		]]>
   		</select>
   		
   		<!-- 새로운 알람 조회 -->
   		<select id="searchNewNotifyList" resultMap="notify">
   		<![CDATA[
   			SELECT n_type, 
			    n_content, n_time, n_checked, n_id, n_url
			FROM notify
			WHERE n_target like #{userid} AND n_checked like '0'
			ORDER BY n_id desc
   		]]>
   		</select>
   		
   		<!-- 새로운 채팅 조회 -->
   		<select id="searchNewChatList" parameterType="com.cu.cum.test.model.vo.MessageContent" resultType="com.cu.cum.test.model.vo.MessageContent">
   		<![CDATA[
		select *
		FROM chatview
			where (userid=#{userid} or otherid=#{userid}) and id!=#{userid} and  unread > 0
		]]>
   		
   		</select>
   		
   		<!-- 이전 알림 목록 -->
   		<select id="searchOldNotifyList" resultMap="notify"  parameterType="java.util.HashMap">
   		<![CDATA[
   			SELECT * FROM notify WHERE n_target like #{userId} AND n_checked like '1' 
   		]]>
   		</select>
   		
   		<!-- 이전 채팅 목록 -->
   		<select id="searchOldChatList" resultMap="notify"  parameterType="java.util.HashMap">
   		<![CDATA[
   			select * from chatview where (userid=#{userid} or otherid=#{userid}) and  unreadcount = 0
   		]]>
   		</select>
   		
   		<!-- 읽음 체크 업데이트 -->
   		<update id="updateNotifyChecked" parameterType="java.util.HashMap">
   		<![CDATA[
	   		UPDATE notify
			SET n_checked = '1', n_editor = #{userId}, n_editdate = TO_CHAR(sysdate, 'yyyy-mm-dd hh24:mi:ss')
			WHERE n_target like #{userId} AND n_id like #{n_id}
   		]]>
   		</update>   
   		
   		<!-- 알람 입력 -->   				
   		<insert id="insertNotify" parameterType="notify">
   		<![CDATA[
   			INSERT INTO notify(n_id, n_target, n_content, n_time, n_checked, n_type, n_url)
			VALUES(LPAD(NOTIFY_SEQ.NEXTVAL,10,'0'), #{n_target},#{n_content},TO_CHAR(sysdate, 'yyyy-mm-dd hh24:mi:ss'),'0',#{n_type},#{n_url})
   		]]>
   		
   		
   		</insert>
   	<select id="selectCompareTime" resultType="int" parameterType="String">
   		<![CDATA[
   			SELECT ((SELECT SYSDATE FROM DUAL) 
   			- (SELECT TO_DATE(#{regTime},'YYYY-MM-DD hh24:mi:ss') FROM DUAL ))*24*60*60
			FROM DUAL
   		]]>
   	</select>
   </mapper>