<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="board">
	<resultMap type="board" id="boardMap">
		<id column="boardid" property="boardId"/>
		<result column="userid" property="userId"/>
		<result column="boardcategory" property="boardCategory"/>
		<result column="boardtitle" property="boardTitle"/>
		<result column="boardcontent" property="boardContent"/>
		<result column="picname" property="picName"/>
		<result column="createdate" property="createDate"/>
		<result column="recommendcount" property="recommendCount"/>
	</resultMap>
	
	<select id="selectboardlist" resultMap="boardMap">
	
	select * from board
	</select>
	<insert id="insertboard" parameterType="board" >
	insert into board values(seq_boardid.nextval,#{userId},#{boardCategory},#{boardTitle},#{boardContent},null,sysdate,0)
	</insert>
	<select id="selectboard" parameterType="_int" resultMap="boardMap">
	select * from board where boardid=#{boardId}
	</select>
	<select id="selectboardcount" resultType="_int">
	select count(*) from board
	</select>

</mapper>