<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="product">
	<resultMap type="product" id="productMap">
		<id column="pro_no" property="proNo"/>
		<result column="category_id" property="categoryName"/>
		<result column="pro_name" property="proName"/>
		<result column="pro_status" property="proStatus"/>
		<result column="price" property="price"/>
		<result column="pro_count" property="proCount"/>
		<result column="pro_content" property="proContent"/>
		<result column="enroll_date" property="enrollDate"/>
		<result column="region" property="region"/>
		<result column="solve_status" property="solveStatus"/>
		
	</resultMap>

	<select id="selectProductCount" resultType="_int">
		SELECT COUNT(*) FROM PRODUCT WHERE USER_ID=#{userId}
	</select>
	
	<select id="selectProductList" resultMap="productMap">
		SELECT * FROM PRODUCT WHERE USER_ID=#{userId}
	</select>
	
	<select id="selectProduct" resultMap="productMap">
		SELECT * FROM PRODUCT WHERE PRO_NO=#{proNo}
	</select>
	
	<insert id="insertReview" parameterType="review">
		INSERT INTO REVIEW VALUES(#{proNo},#{oi},SYSDATE,#{writer})
	</insert>
</mapper>
