<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="wish">
	<resultMap type="com.cu.cum.wishlist.model.vo.WishList" id="wishMap">
		<id column="wish_id" property="wishId"/>
		<result column="create_date" property="createDate"/>
		<result column="user_id" property="member.userId"/>
		<result column="pro_no" property="product.proNo"/>
	</resultMap>

	<select id="checkwish" parameterType="com.cu.cum.wishlist.model.vo.WishList" resultType="_int">
	select count(*) from wish_list where user_Id=#{member.userId} and pro_No=#{product.proNo}
	</select>


</mapper>