<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	<typeAliases>
		<typeAlias type="com.cu.cum.product.model.vo.Product" alias="product"/>
		<typeAlias type="com.cu.cum.product.model.vo.Review" alias="review"/>

		<typeAlias type="com.cu.cum.inquiry.model.vo.Inquiry" alias="inquiry"/>
		<typeAlias type="com.cu.cum.member.model.vo.Member" alias="member"/>

		<typeAlias type="com.cu.cum.board.model.vo.Board" alias="board"/>
		<typeAlias type="com.cu.cum.board.model.vo.RecommendList" alias="recommend"/>


		<typeAlias type="com.cu.cum.product.model.vo.Files" alias="files"/>

		


	</typeAliases>
</configuration>
